.appmain{
	position:relative;
	width:1000px;
	margin:30px auto;
	overflow:hidden;
	.showMsg{
		height:500px;
		border:1px solid #ddd;
		border-radius:3px;
		padding:10px;
		overflow:auto;
	}
	.input-name{
		display:inline-block;
		width:300px;
	}
	.inputBox{
		margin:10px 0;
	}
	.spanSty{
		min-width:50px;
		display:inline-block;
		background:#F2F2F2;
		line-height:36px;
		padding:0 10px;
		border-radius:3px;
		margin-bottom:10px;
	}
	button{
		margin-right:10px;
	}
	textarea{
		margin-bottom:10px;
	}
	.log-btn{
		margin-left:10px;
	}
}
h6{
	margin:0;padding:0;
}
ul,li{
	overflow:hidden;
	margin:0;padding:0;
}
.emoji-show{
	float:left;
}
.send-btn{
	float:right
}
.emoji-content{
	width:500px;
	display:none;
	ul{overflow:hidden;
		li{
			float:left
		}
	}
	
}
img{
	padding:2px;
}
img:hover{
	background:#ddd;
}
